.inner {
  min-width: 80% !important;
}

.wrapper {
  border-radius: 56px;
  padding: 0.3rem;
  background: linear-gradient(
    180deg,
    rgba(33, 150, 243, 0.4) 10%,
    rgba(33, 150, 243, 0) 30%
  );
}
